{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
   <div class="col-md-8 card mb-4 mt-3">
    <div class="card-body txt-light">
        <h1>This is the profile page for {{user.username}}</h1>
    </div>
      <!-- FORM HERE -->
       <form method="post" style="margin-top: 1.3em" action="/save_project/">
      {{ profile_form | crispy }} {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-lg">
      ADD A PROFILE
      </button>
    </div>
    </div>
{% endblock content %}

<div class="col-md-8 card mb-4 mt-3">
    <div class="card-body txt-light">
      <h2>REVIEW</h2>

      <div class="col-md-8 card mb-4 mt-3">
        <div class="card-body">
          <form method="post" style="margin-top: 1.3em">
            {{ review_form | crispy }} {% csrf_token %}
            <button type="submit" class="btn btn-dark btn-lg">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>