{% extends 'base.html'%} {% extends 'home.html'%}{% block content %}
<h4>PROJECTS</h4>
{% if all_project %}
<div class="container">
  {% for project in all_project %}
  <div class="project-details-overlay hide" id="project-details-overlay">
    <p id="close-btn">&#215;</p>
    <div class="project-details">
    <div class="card-body" >
    <img src="{{ project.image.url }}" alt="Card image cap" style="cursor: pointer; max-height: 170px; min-height: 170px">
    <p class="card-text">Title: {{ project.title }}</p></br>
    <p class="card-text">{{ project.description }}</p>
    <p class="card-text"><a href="{{ project.project_link }}"></a></p>
    <!--check there might be some of your styles preventing it from picking okay hun i will-->
   
    </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% if review %}
  {% for review in review%}
   <p class="card-text">{{ review.rate }}</p>
    <p class="card-text">{{ review.review }}</p>
    {% endfor %}
</div>
{% endif%}
{% endblock content %}