{% extends "base.html" %} {% block title %}Project Page{% endblock title %}
 {% block content %} 
 {% load crispy_forms_tags %}



<div class="prject1"></div>
  <div class="col-md-8 card mb-4 mt-3">
    <div class="card-body">
      <h2>projects</h2>
      <form action="{% url 'search'%}" method="POST">
        <div class="input-group">
          <div class="form-outline">
            <input
              id="search-focus"
              type="search"
              id="form1"
              name="category"
              class="form-control"
              placeholder="search..."
              style="border-radius: 0"
            />
            <label
              class="form-label"
              for="form1"
              placeholder="search project by title...."
            ></label>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            style="max-height: 37px; border-radius: 0"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-8 card mb-4 mt-3">
    <div class="card-body">
      {% if new_project %}
      <div class="alert alert-success" role="alert">
        Your project is awaiting reviewing
      </div>
      {% else %}
      <form method="post" style="margin-top: 1.3em" action="/save_project/">
        {{ project_form | crispy }} {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">
          ADD A PROJECT
        </button>
      </form>
      {% endif %} {% for project in all_project %}
      <div class="project-details-overlay hide" id="project-details-overlay">
        <p id="close-btn">&#215;</p>
        <div class="project-details">
          <div class="card text">
            <img
              src="{{ project.image.url }}"
              alt=""
              style="cursor: pointer; max-height: 170px; min-height: 170px"
            />
            <p class="card-text">user :{{ project.user }}</p>
            <p class="card-text">Title: {{ project.title }}</p>
            <p class="card-text">
              project:description{{ project.description }}
            </p>
            <p class="card-text">
              <link href="{{ project.project_link |linebreaks}}" /> Link
            </p>
            <button><a href="{% url 'review'%}">ADD REVIEW</a></button>
            {{project.reviews.all}} {% if reviews %} {% for review in reviews %}
            <p class="card-text">{{ review.userbility }}</p>
            <p class="card-text">{{ review.content }}</p>
            <p class="card-text">{{ review.design }}</p>

            <p class="card-text">{{ review.review }}</p>

            {% endfor %} {% endif %} {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<div class="card text-white bg-danger mb-3" style="max-width: 18rem">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
</div>
