<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <title>project</title>
  </head>
  <body>
    {% load crispy_forms_tags %}
    <div class="col-md-8 card mb-4 mt-3">
      <div class="card-body">
        <!-- projects -->
        <h2>project</h2>
      </div>
    </div>
    <div class="col-md-8 card mb-4 mt-3">
      <div class="card-body">
        {% if new_project %}
        <div class="alert alert-success" role="alert">
          Your project is awaiting reviewing
        </div>
        {% else %}
        <form method="post" style="margin-top: 1.3em">
          {{ project_form | crispy }} {% csrf_token %}
          <button
            type="submit"
            class="btn btn-primary btn-lg" 
            ><a href="{ url 'p'}">
            Submit</a>
          </button>
        </form>
        {% endif %} 
        {% for project in all_project %}
        <div class="project" style="padding: 10px">
          <p class="font-weight-bold">
            {{ project.title }}
            <span class="text-muted font-weight-normal">
              {{ project.description }}
            </span>
          </p>
          {{ project.project_link | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
