/* *{
    background-color: black;
} */

html,
body {
  background-color: #c5dedd;
  color: #dc2f02;
  font-family: "Special Elite", cursive;
}

.pro-view {
  color: #dc2f02;
   background-image: url("home1.jpg");
  width: 90%;
  height: 100vh;
  background-size: auto;
  background-position: center;
  padding-top: 5rem;
  color: aliceblue;
  margin-left: 3rem;
  background-repeat: no-repeat;
  border-radius: 2rem;
  align-items: center;
}

.bt-login {
  background-image: url("login.jpeg");
  width: 80%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  color: aliceblue;
  margin-left: 3rem;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.login-form {
  margin-left: 2rem;
}

.lg-title {
  margin-left: 2rem;
}

#lg {
  margin-left: 5rem;
}

.home {
  background-image: url("home1.jpg");
  width: 90%;
  height: 100vh;
  background-size: auto;
  background-position: center;
  padding-top: 5rem;
  color: aliceblue;
  margin-left: 3rem;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.profile-1 {
  background-color: black;

}

.smb-hero-text {
  width: 70%;
  height: 40vh;
  background: #c5dedd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  opacity: 80%;
  border-radius: 2rem;
}

.smb-hero-section {
  position: relative;
  width: 100%;
  height: 90vh;
  /* background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ); */
background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smb-hero-text span {
  color: black;
}

.smb-hero-text p {
  color: #3e2f5b;
}

.smb-hero-text h3 {
  font-weight: 700;
  color: #3e2f5b;
  text-align: center;
}
.container{
    text-align: center;
}

.user{
color: #000;
padding-top: 2px;
}

.vh-100{
    background-image: url("home1.jpg");
  width: 100%;
  height: 100vh;
  background-size: auto;
  background-position: center;
  /* padding-top: 5rem; */
  color: whitesmoke;
  margin-left: 3rem;
  background-repeat: no-repeat;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.container py-5{
  color: #c5dedd;
}