{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<!--Login-->
<div class="container">
 
    <h1 class="lg-title">Login</h1>
    <form method="POST" class="login-form">
     <div class="bt-login">
      {% csrf_token %} {{ login_form|crispy }}
      <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    {% comment %} <p class="text-center">Don't have an account?.</p>
    <button class="btn btn-secondary btn-lg" id="lg">
      <a href="{% url 'register'%}">REGISTER</a>
    </button> {% endcomment %}
  </div>
</div>
{% endblock %}
